<li class="d-flex justify-content-between bg-secondary taskItem" *ngIf="task">
    <div class="d-flex flex-row align-items-center text-white">
        <input type="checkbox" id="box-{{task.id}}" value="{{task.isCompleted}}">
        <label for="box-{{task.id}}"></label>
        <div class="ml-2">
            <h6 class="mb-0">{{task.name}}</h6>
            <div class="d-flex flex-row mt-1 date-time ">
                <div class="due-date" *ngIf="task.dueDate">
                    <i class="fa-regular fa-calendar-o fa-fw me-1"></i>
                    <span class="ml-2">{{task.dueDate | date:'MMM d, y, h:mm a'}}</span>
                </div>
                <div class="ml-3 duration-time" *ngIf="task.durationTime">
                    <i class="fa-regular fa-clock mx-1"></i>
                    <span class="ml-2">{{this.formatTime(task.durationTime)}}</span>
                </div>
                <div class="ml-3 energy">
                    <i class="{{this.formatEnergyIcon(this.task.energy)}} fa-fw mx-1 battery"></i>
                </div>
                <div class="ml-3 priority">
                    <i class="{{this.formatPriorityIcon(this.task.priority)}} fa-fw mx-0"></i>
                    <i class="fa-solid fa-exclamation"></i>
                </div>
            </div>
            <div class="d-flex flex-row mt-1 tags">
                <div *ngFor="let tag of task.tags" class="tag" [ngStyle]="{'color': tag.colorHex}">
                    <i class="fa-solid fa-tag fa-fw" [ngStyle]="{'color': tag.colorHex}"></i>
                    {{tag.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center text-white">
        <div class="d-flex flex-column mr-2">
        </div>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
</li>