<li class="d-flex justify-content-between bg-secondary taskItem" *ngIf="task && !task.isCompleted">
    <div class="d-flex flex-row align-items-center text-white">
        <input type="checkbox" id="box-{{task.id}}" [(ngModel)]="task.isCompleted" (change)="complete()"
            [checked]="task.isCompleted">
        <label for="box-{{task.id}}"></label>
        <div class="ml-2">
            <h6 class="mb-0">{{task.name}}
            </h6>
            <div class="d-flex mt-1 date-time ">
                <div class="due-date" *ngIf="task.dueDate">
                    <i class="fa-regular fa-calendar-o fa-fw me-1"></i>
                    <span class="me-2">{{task.dueDate | date:'dd MMM, y'}}</span> <span class="me-2"
                        *ngIf="task.dueTime">{{time()}}</span>
                </div>
                <div class="duration-time" *ngIf="task.durationTime">
                    <i class="fa-regular fa-clock me-1"></i>
                    <span class="me-2">{{this.formatMinutes(task.durationTime)}}</span>
                </div>
                <div class="energy">
                    <i class="{{this.formatEnergyIcon(this.task.energy)}} fa-fw me-1 battery"></i>
                </div>
                <div class="priority">
                    <i class="{{this.formatPriorityIcon(this.task.priority)}} fa-fw mx-0"></i>
                    <i class="fa-solid fa-exclamation"></i>
                </div>
            </div>
            <div class="d-flex mt-1 tags">
                <div *ngFor="let tag of task.tags" class="tag" [ngStyle]="{'color': tag.colorHex}">
                    <i class="fa-solid fa-tag fa-fw" [ngStyle]="{'color': tag.colorHex}"></i>
                    {{tag.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center text-white">
        <span dropdown container="body">
            <a id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                <i class="fa-solid fa-ellipsis"></i>
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right border" role="menu"
                aria-labelledby="basic-link">
                <li role="menuitem">
                    <a class="dropdown-item" (click)="openEditTaskModal()">
                        <i class="fa-solid fa-pen-to-square me-2 fa-fw"></i>Edit</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" (click)="openDeleteTaskModal()">
                    <i class="fa-solid fa-trash me-2 fa-fw"></i>Delete</a>
            </li>
            </ul>
        </span>
    </div>
</li>