<li class="d-flex justify-content-between bg-secondary">
    <div class="d-flex flex-row align-items-center text-white ">
        <input type="checkbox" id="box">
        <label for="box"></label>
        <div class="ml-2">
            <h6 class="mb-0">Kickoff meeting</h6>
            <div class="d-flex flex-row mt-1 date-time ">
                <div class="due-date">
                    <i class="fa-regular fa-calendar-o fa-fw me-1"></i>
                    <span class="ml-2">22 May 2020 11:30 PM</span>
                </div>
                <div class="ml-3 duration-time">
                    <i class="fa-regular fa-clock mx-1"></i>
                    <span class="ml-2">45m</span>
                </div>
                <div class="ml-3 energy">
                    <i class="fa-solid fa-battery-half fa-fw mx-1"></i>
                </div>
                <div class="ml-3 priority">
                    <i class="fa-solid fa-b fa-fw mx-0"></i>
                    <i class="fa-solid fa-exclamation"></i>
                </div>
            </div>
            <div class="d-flex flex-row mt-1 tags">
                <div class="tag">
                    <i class="fa-solid fa-tag fa-fw "></i>
                    Dom
                </div>
                <div class="tag">
                    <i class="fa-solid fa-tag fa-fw "></i>
                    Domek
                </div>
                <div class="tag">
                    <i class="fa-solid fa-tag fa-fw "></i>
                    Domeksdsd
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex flex-row align-items-center text-white">
        <div class="d-flex flex-column mr-2">
        </div>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
</li> 