.taskItem {
  font-family: sans-serif;
  list-style: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding: 3px;
  border: 1px solid #e3dada;
  margin-top: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu{
  margin-top: -20px;
  margin-right: -40px;
}

li {
  cursor: pointer;
}

.taskItem:hover {
  transform: scaleX(1.01);
}

.date-time {
  font-size: 12px;
}

.tags {
  font-size: 12px;
}

.battery {
  font-size: 18px;
}

.tag {
  margin-right: 3px;
}

.fa-tag {
  padding-left: 3px;
  padding-top: 1px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
  /* Dodane przekreślenie tekstu */
}

input[type="checkbox"]+label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"]+label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked+label {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}


@media only screen and (max-width: 390px) 
{
  .energy{
    display: none;
  }

  .priority{
    display: none;
  }
}