<div class="outer">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-5 col-md-7 ">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h1 class="pt-3 font-weight-bold">Password recovery</h1>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(form.email.value!)">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="submitted && form.email.invalid">
                                    <span class="fa fa-envelope p-2 text-primary"></span>
                                    <input class="form-control"
                                        [class.is-invalid]="submitted && form.email.invalid"
                                        formControlName="email" type="text" placeholder="Email">
                                </div>
                                <div *ngIf="submitted && form.email.errors" class="errorMessage">
                                    <div *ngIf="form.email.errors?.['required']"> <i class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i> Email is required</div>
                                    <div *ngIf="form.email.errors?.['email']"> <i class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i> Email must be a valid email address</div>
                                </div>
                            </div>                         
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Continue</button>
                            <p class="mt-3" style="text-align: center;"><a class="center" routerLink="/account/login">Back to Sign in</a></p>                                             
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>