<header class="px-3 border-bottom bg-white fixed-top shadow-sm">
  <div class="d-flex my-1 flex-wrap align-items-center justify-content-center">
    <a class="logo navbar-brand " routerLink="/">
      <img class="border logo" src="assets/images/logo.png" alt="Bootstrap" width="40" height="40" >
    </a>
  
    <ul class="nav col-3 ms-2 me-auto">
    </ul>
    
    <div class="text-end">
      <a routerLink="/account/login" class="btn btn-outline me-2">Login</a>
      <a routerLink="/account/register" class="btn btn-primary me-3">Sign-up</a>
    </div>
  </div>

</header>
