<header class="px-3 bg-primary fixed-top shadow" style="z-index: 2; height: 3.5rem;">
    <div class="d-flex my-1 flex-wrap align-items-center justify-content-center">
        <ul class="nav col-8 col-ssm-6 me-auto">
            <li>
                <a class="nav-link px-2 link-secondary" style="font-size: 20px; cursor: pointer;"
                    (click)="SideNavToggle()">
                    <i class="fa-bars fa-solid fa-fw "></i>
                </a>
            </li>
            <li>
                <a class="nav-link px-2 link-secondary" style="font-size: 20px;" routerLink="app/dashboard/inbox">
                    <i class="fa-house fa-solid fa-fw"></i>
                </a>
            </li>
            <li>
                <div class="btn-group border" dropdown>
                    <button type="button" class="add-button btn px-2 button-secondary" style="font-size: 20px;"
                        (click)="this.openAddTaskModal()">
                        <i class="fa-plus fa-solid " style="color: white;"></i>
                    </button>
                    <button id="button-split" type="button" dropdownToggle
                        class="add-button px-1  btn button-secondary dropdown-toggle dropdown-toggle-split"
                        aria-controls="dropdown-split" style="color: white;">
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-add border" role="menu"
                        aria-labelledby="button-split">
                        <li role="menuitem" class="px-3" style="cursor: default;">Add new... </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="this.openAddTaskModal()">
                                <i class="fa-solid fa-check me-2"></i>Task</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openAddProjectModal()">
                                <i class="fa-solid fa-list-check me-2"></i>Project</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item" (click)="this.openAddCategoryModal()">
                                <i class="fa-solid fa-icons me-2"></i>
                                Category
                            </a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item" (click)="this.openAddTagModal()">
                                <i class="fa-solid fa-tag me-2"></i>Tag</a>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
   
        <form class="col-2 col-ssm-3  me-3 search" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div dropdown class="text-end" style="cursor: pointer;">
            <a href id="userPicture" class="d-block link-body-emphasis text-decoration-none" dropdownToggle
                (click)="false" aria-controls="basic-link-dropdown">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="me-3 dropdown-menu dropdown-menu-right border "
                role="menu" aria-labelledby="userPicture">

                <li role="menuitem"><a class="dropdown-item"><i class="fa fa-user me-2"
                            aria-hidden="true"></i>Profile</a></li>
                <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['/app', {outlets: {settings: 'settings/profile'}}]"><i class="fa fa-cog me-2"
                            aria-hidden="true"></i>Settings</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" (click)="accountService.logout()"> <i class="fa fa-sign-out me-2"
                            aria-hidden="true"></i>Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</header>