<header class="px-3 border-bottom bg-white fixed-top shadow-sm">
    <div class="d-flex my-1 flex-wrap align-items-center justify-content-center">
        <ul class="nav col-3 ms-2 me-auto">
            <li><a href="#" class="nav-link px-2 link-secondary" style="font-size: 20px;">
                    <fa-icon [fixedWidth]="true" icon="house"></fa-icon>
                </a></li>
            <li><a href="#" class="nav-link px-2 link-secondary" style="font-size: 20px;">
                    <fa-icon [fixedWidth]="true" icon="plus"></fa-icon>
                </a></li>
        </ul>

        <form class="col-3 mb-lg-0 me-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none " data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

</header>