input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

.input-field {
    border-radius: 5px;
    background-color: var(--input-bg-color);
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--border-color);
    color: #4343ff
}

.input-field.error {
    border: 1px solid red;
    color: red;
}