<h6>SECURITY SETTINGS</h6>
<hr>
<form [formGroup]="securitySettingsForm" (ngSubmit)="onSubmit()">
  <label class="d-block"> Change Password</label>
  <div class="form-group mb-3">
    <input type="text" class="form-control" [class.is-invalid]="submitted && form.oldPassword.invalid"
      formControlName="oldPassword" placeholder="Enter your old password">
    <div *ngIf="submitted && form.oldPassword.errors" class="errorMessage">
      <div class="text-danger" *ngIf="form.oldPassword.errors?.['required']"> <i class="fa fa-exclamation-circle"
          aria-hidden="true"></i> To change the old password, enter it</div>
    </div>
  </div>
  <div class="form-group mb-3">
    <input type="text" class="form-control" [class.is-invalid]="submitted && form.password.invalid"
      formControlName="password" placeholder="New password">
    <div *ngIf="submitted && form.password.errors" class="errorMessage">
      <div class="text-danger" *ngIf="form.password.errors?.['required']"> <i class="fa fa-exclamation-circle"
          aria-hidden="true"></i> Password is required</div>
      <div class="text-danger" *ngIf="form.password.errors?.['pattern']"> <i class="fa fa-exclamation-circle"
          aria-hidden="true"></i> Password should have at least 6 characters long,
        contain at least one digit, one lowercase letter, one uppercase letter, and one
        special character</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [class.is-invalid]="submitted && form.confirmPassword.invalid"
      formControlName="confirmPassword" placeholder="Confirm new password">
    <div *ngIf="submitted && form.confirmPassword.errors" class="errorMessage">
      <div class="text-danger" *ngIf="form.confirmPassword.errors?.['required']"> <i class="fa fa-exclamation-circle"
          aria-hidden="true"></i> Confirmation is required</div>
      <div class="text-danger" *ngIf="form.confirmPassword.errors?.['mustMatch']"> <i class="fa fa-exclamation-circle"
          aria-hidden="true"></i> Passwords must match</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary my-3 me-1">Change Password</button>
</form>
<hr>

<div class="form-group">
  <label class="d-block">Two Factor Authentication</label>
  <button class="btn btn-info" type="button">Enable two-factor authentication</button>
  <p class="small text-muted mt-2">Two-factor authentication adds an additional layer of security to your account by
    requiring more than just a password to log in.</p>
</div>