<!--For Page-->
<div class="page" *ngIf="this.contentLoaded">
    <!--Card-->
    <div class="card bg-primary">
        <!--Card Header-->
        <div class="card-header bg-primary border-bottom align-items-center">
            <div class="col-6">
                <h1 class="text-white">{{this.categoryService.selectedCategory()?.name}}</h1>
            </div>
            <div class="col-6 icons text-white text-end">
                <span dropdown container="body" [insideClick]="true">
                    <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                        <i class="fa-solid fa-gear text-white"></i>
                    </a>
                    <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right border"
                        role="menu" aria-labelledby="basic-link">
                        <li role="menuitem" *ngIf="!this.categoryService.selectedCategory()?.isImmutable">
                            <a class="dropdown-item" (click)="openEditCategoryModal()">
                                <i class="fa-solid fa-pen-to-square me-2 fa-fw"></i>Edit</a>
                        </li>
                        <li class="divider dropdown-divider" *ngIf="!this.categoryService.selectedCategory()?.isImmutable"></li>
                        <li role="menuitem">
                            <span dropdown container="body">
                                <a href id="basic-link" dropdownToggle (click)="false"
                                    aria-controls="basic-link-dropdown">
                                    <a class="dropdown-item">
                                        <div class="align-items-center row">
                                            <div class="col-5">
                                                <i class="fa-solid fa-layer-group me-2 fa-fw"></i>Grouping
                                            </div>
                                            <div class="col-7 text-end">
                                                {{this.taskService.QueryParams().groupBy.name}}
                                            </div>
                                        </div>
                                    </a>
                                </a>
                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu border" role="menu"
                                    aria-labelledby="basic-link">
                                    <li *ngFor="let choice of groupOptions | enumToArray">
                                        <a class="dropdown-item" (click)="onGroupingOptionSelected(choice.id)">
                                            <div class="align-items-center row">
                                                <div class="col-6">
                                                    {{choice.name}}
                                                </div>
                                                <div class="col-6 text-end" *ngIf="this.taskService.QueryParams().groupBy == choice">
                                                    <i class="fa-solid fa-check"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </li>
                        <li role="menuitem">
                            <span dropdown container="body">
                                <a href id="basic-link" dropdownToggle (click)="false"
                                    aria-controls="basic-link-dropdown">
                                    <a class="dropdown-item">
                                        <div class="align-items-center row">
                                            <div class="col-5">
                                                <i class="fa-solid fa-sort me-2 fa-fw"></i>Sorting
                                            </div>
                                            <div class="col-7 text-end">
                                                {{this.taskService.QueryParams().sortBy.name}}
                                            </div>
                                        </div>
                                    </a>
                                </a>
                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu border" role="menu"
                                    aria-labelledby="basic-link">
                                    <li *ngFor="let choice of sortOptions| enumToArray">
                                        <a class="dropdown-item" (click)="onSortingOptionSelected(choice.id)">
                                            <div class="align-items-center row">
                                                <div class="col-6">
                                                    {{choice.name}}
                                                </div>
                                                <div class="col-6 text-end" *ngIf="this.taskService.QueryParams().sortBy == choice">
                                                    <i class="fa-solid fa-check"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </li>
                        <li role="menuitem">
                            <span dropdown container="body">
                                <a href id="basic-link" dropdownToggle (click)="false"
                                    aria-controls="basic-link-dropdown">
                                    <a class="dropdown-item">
                                        <div class="align-items-center row">                                           
                                                <ng-template [ngIf]="!this.taskService.QueryParams().sortDescending"
                                                    [ngIfElse]="Descending">
                                                    <div class="col-5">
                                                        <i class="fa-solid fa-caret-up me-2 fa-fw"></i>Direction
                                                    </div>
                                                    <div class="col-7 text-end">                                                    
                                                        Ascending (default)
                                                    </div>
                                                </ng-template>

                                                <ng-template #Descending>
                                                    <div class="col-5">
                                                        <i class="fa-solid fa-caret-down me-2 fa-fw"></i>Direction
                                                    </div>
                                                    <div class="col-7 text-end">                                                    
                                                        Descending
                                                    </div>
                                                </ng-template>
                                            </div>                                       
                                    </a>
                                </a>
                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu border" role="menu"
                                    aria-labelledby="basic-link">
                                    <li role="menuitem">
                                        <a class="dropdown-item"
                                        (click)="onSortDirectionSelected(false)">
                                            <div class="align-items-center row">
                                                <div class="col-6">
                                                    Ascending (default)
                                                </div>
                                                <div class="col-6 text-end" *ngIf="!this.taskService.QueryParams().sortDescending">
                                                    <i class="fa-solid fa-check"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item"
                                        (click)="onSortDirectionSelected(true)">
                                            <div class="align-items-center row">
                                                <div class="col-6">
                                                    Descending
                                                </div>
                                                <div class="col-6 text-end" *ngIf="this.taskService.QueryParams().sortDescending">
                                                    <i class="fa-solid fa-check"></i>
                                                </div>
                                            </div>
                                        </a>
                                </ul>
                            </span>
                        </li>
                        <li class="divider dropdown-divider" *ngIf="!this.categoryService.selectedCategory()?.isImmutable"></li>
                        <li role="menuitem" *ngIf="!this.categoryService.selectedCategory()?.isImmutable"><a class="dropdown-item" (click)="openDeleteModal()">
                                <i class="fa-solid fa-trash me-2 fa-fw"></i>Delete</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <!--Card Body-->
        <div class="card-body">
            <div class="col-md-12">
                <ul class="list list-inline"
                    *ngFor="let groupName of this.taskService.CurrentCategoryTasksGroupNames()">
                    <div>
                        <b class="text-white" *ngIf="groupName !== 'All'">{{groupName}}</b>
                        <ul class="list list-inline"
                            *ngFor="let task of this.taskService.CurrentCategoryTasksMap()![groupName]">
                            <app-task-item [task]="task"></app-task-item>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>