.card {
    width: 90%;
    margin: auto;
}

.page {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    width: 300px;
}

a {
    text-decoration: none;
}

.card-header {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    margin-top: 2%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.card-header h1 {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-header i {
    cursor: pointer;
}

.card-body {
    margin: 2%
}

@media only screen and (max-width: 600px) {
    // .card {
    //     font-size: 11px
    // }

    .time {
        font-size: 6px
    }
}