<div class="px-4 pt-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Empowering Your Day, Mastering Your Time!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to Task++ - an innovative application for time and task management based on the
      renowned Getting Things Done® (GTD®) methodology. With Task++, take command of your day by organizing tasks
      efficiently and intuitively. Utilize the powerful GTD® tools to focus on life's most crucial aspects, eliminating
      chaos and boosting productivity. Track progress, set priorities, and let our app take care of the rest. Join today
      and experience a new dimension of efficiency in time management!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a routerLink="/account/register" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Start for free</a>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="assets/images/HomePageUpPhoto.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
        width="900" height="700" loading="lazy">
    </div>
  </div>
</div>
<div class="outer">
  <div class="container marketing">
    <hr class="featurette-divider_up">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 text-white">Take control of your time, <span class="text-white-50">plan
            effectively!</span></h2>
        <p class="lead text-white">Efficient planning with an intuitive module allows for easy creation of schedules for
          activities, projects, and goals. Task++ helps you focus on the most important tasks, ensuring success in time
          management</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/HomePagePhoto_1.png" class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image" width="900" height="700" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 text-white">Your World, Your Rules</h2>
        <h3><span class="text-white-50"> Personalize Task++ and work on your own terms</span></h3>
        <p class="lead text-white">Customize the application to your preferences and work style. Personalize the interface,
          categories, priorities, and more to create an environment perfectly tailored to your individual needs.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/HomePagePhoto_2.png" class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image" width="900" height="700" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 text-white">Clear Your Mind,<br><span class="text-white-50">Harmonize
            Your Life,<br></span> Amplify Your Productivity! </h2>
        <p class="lead text-white" >Implement the Getting Things Done® philosophy with our advanced task management system. Inbox,
          task list, priorities, and categories - Task++ is a comprehensive tool that provides full control over your
          productivity</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/HomePagePhoto_3.png" class="img-fluid border rounded-3 shadow-lg mb-5"
          alt="Example image" width="900" height="700" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="icon-grid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start text-white-50">
        <i class="icon fa-solid fa-list-check text-white  flex-shrink-0 me-3 mt-3 fa-2xl fa-fw"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-white">Plan Effectively</h3>
          <p> Organize tasks, projects, and goals while having full control over your time.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start text-white-50" >
        <i class="icon fa-solid fa-brush text-white flex-shrink-0 me-3 mt-3 fa-2xl fa-fw"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-white">Personalize</h3>
          <p>Customize Task++ to fit your needs! Choose colors, layouts, and preferences to create the perfect work
            environment.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start text-white-50">
        <i class="icon fa-solid fa-globe text-white flex-shrink-0 me-3 mt-3 fa-2xl fa-fw"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-white">Wherever You Are</h3>
          <p>Manage your tasks from any place with online access. Also through the browser on your phone.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start text-white-50">
        <i class="icon fa-solid fa-trophy text-white flex-shrink-0 me-3 mt-3 fa-2xl fa-fw"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-white">Rewards System</h3>
          <p>Achieve your goals with pleasure thanks to the rewards and motivation system (coming soon).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <a routerLink="/account/register" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Start for free</a>
  </div>
  <div class="container">
    <footer class="py-3 ">
      <ul class="nav justify-content-center pb-3 mb-3 ml-2">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white-50">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white-50">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white-50">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white-50">About</a></li>
      </ul>
      <hr class="text-white-50">
      <p class="text-center text-white-50" style="font-size: 0.75rem;">
        GTD® and Getting Things Done® are registered trademarks of the David Allen Company. I and my application are not
        affiliated with or endorsed by David Allen Company.
      </p>
      <p class="text-center text-white-50">© {{this.year}} Patryk Wikłacz</p>
    </footer>
  </div>
</div>