<ngx-spinner size="large" color="#fff" type="square-jelly-box" [fullScreen]="true" class="bg-primary">
   <p style="color: white"> Loading... </p>
</ngx-spinner>

<div *ngIf="contentLoaded">
   <ng-container *ngIf="!isLoggedIn">
      <app-nav-bar-unlogged></app-nav-bar-unlogged>
   </ng-container>

   <ng-container *ngIf="isLoggedIn">
      <app-nav-bar-logged></app-nav-bar-logged>
   </ng-container>

   <div class="container-fluid g-0">
      <p-toast position="bottom-left"></p-toast>
      <div class="overlay" *ngIf="this.sideNavService.sidNavOpenStatus() && isLoggedIn" (click)="closeSideNav()"></div>
      <main>
         <ng-container *ngIf="isLoggedIn">
            <app-side-nav class="bg-secondary"
               [ngClass]="{'app-side-nav-open': this.sideNavService.sidNavOpenStatus()}">
            </app-side-nav>
         </ng-container>
         <div class="display-area" 
            [ngClass]="{'display-area-shrink' : this.sideNavService.sidNavOpenStatus() && isLoggedIn}">       
            <router-outlet>
            </router-outlet>
         </div>
      </main>
   </div>
</div>