<div class="modal-header bg-primary">
    <h4 class="modal-title pull-left text-secondary">New Task</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>

<form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="container text-center">
            <div class="col-sm">
                <div class="row mb-2">
                    <input class="form-control mb-2" type="text" placeholder="Task Name" formControlName="name">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Notes" rows="3"
                        formControlName="notes"></textarea>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-12">
                    <ng-select class="select tags mb-2" [items]="tagService.userTags()" bindLabel="name" bindValue="id"
                        formControlName="selectedTags" placeholder="&#xf02c; Tags" [multiple]="true" [closeOnSelect]="false"
                        [hideSelected]="true">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:1; let i = index">
                                <span class="ng-value-icon left" aria-hidden="true" (click)="clear(item)">×</span>
                                <span class="ng-value-label"> <i class="fa-solid fa-tag pe-2"
                                    [ngStyle]="{ 'color': items[i].colorHex }"></i>{{items[i].name}}</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > 1">
                                <span class="ng-value-label">{{items.length - 1}} more...</span>
                            </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <span><i class="fa-solid fa-tag pe-2"  [ngStyle]="{ 'color': item.colorHex }"></i>{{item.name}}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <ng-select class="select" formControlName="energy" placeholder="&#xf0e7; Energy"
                            [searchable]="false">
                            <ng-option value='4' disabled="true">&#xf0e7; Energy</ng-option>
                            <ng-option *ngFor="let energy of EnergyEnum | enumToArray"
                                value="{{energy.id}}">{{energy.name}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-6">
                        <ng-select class="select" formControlName="priority" placeholder="&#x21; Priority"
                            [searchable]="false">
                            <ng-option value='6' disabled="true" style="cursor: none;">&#x21; Priority</ng-option>
                            <ng-option *ngFor="let priority of PriorityEnum | keyvalue" value="{{priority.value.id}}">
                                {{priority.value.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <p-calendar class="" formControlName="date" placeholder="  &#xf133; Due date" [showButtonBar]="true"
                            dateFormat=" dd M yy">
                            <!-- <ng-template pTemplate="header">Header</ng-template>
                                <ng-template pTemplate="footer">Footer</ng-template> -->
                        </p-calendar>
                    </div>
                    <div class="col-6">
                        <ng-select class="select" formControlName="durationTime" placeholder="&#xf017; Time"
                            [searchable]="false">
                            <ng-option value='0' disabled="true">&#xf017; Time</ng-option>
                            <ng-option *ngFor="let time of durationTimes" value="{{time.value}}">
                                {{time.label}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <ng-select class="select" formControlName="categoryId" placeholder="&#xf86d; Category"
                            [searchable]="false">
                            <ng-option value='4' disabled="true">&#xf86d; Category</ng-option>
                            <ng-option *ngFor="let category of systemCategories " value="{{category.id}}">
                                <i class="{{category.icon}} fa-fw" [ngStyle]="{ 'color': category.color }"></i>  {{category.name}}</ng-option>
                            <ng-option *ngFor="let category of categoryService.userCategories() " value="{{category.id}}">
                                <i class="{{category.icon}} fa-fw" [ngStyle]="{ 'color': category.colorHex }"></i>  {{category.name}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-6">
                        <ng-select class="select" formControlName="projectId" placeholder="&#xf0ae; Project"
                            [searchable]="false">
                            <ng-option value='6' disabled="true" style="cursor: none;">&#xf0ae; Project</ng-option>
                            <ng-option value='' disabled="false" style="cursor: none;">None</ng-option>

                        </ng-select>
                    </div>
                </div>        
            </div>
      
      
           
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [class.disabled]="this.addTaskForm.invalid">Add</button>
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
    </div>
</form>