<div class="modal-header">
    <h5 class="modal-title pull-left">Time conflict</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h6>Note: Your chosen date conflicts with an existing task. Are you sure you want to continue adding the task?</h6>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="onConfirm()">Continue</button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
</div>
