<div class="card card-margin bg-primary" *ngIf="project && !project.isCompleted">
    <div class="card-header no-border justify-content-between ">
        <div>
            <h5 class="card-title text-secondary">{{project.name}}</h5>
        </div>
        <div>
            <input type="checkbox" id="box-{{project.id}}" [(ngModel)]="project.isCompleted"  (change)="complete()"
                [checked]="project.isCompleted">
            <label for="box-{{project.id}}"></label>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="widget-49">
            <div class="widget-49-title-wrapper row">
                <div class="widget-49-date-primary bg-secondary col-3" *ngIf="project.dueDate">
                    <span class="widget-49-date-day  text-primary">{{project.dueDate | date:'d'}}</span>
                    <span class="widget-49-date-month  text-primary">{{project.dueDate | date:'MMM'}}</span>
                </div>
                <div class="widget-49-date-primary bg-secondary col-3" *ngIf="!project.dueDate">
                    <span class="text-primary">NoDue</span>
                </div>
                <div class="widget-49-meeting-info col-9">
                    <span class="notes text-white" style="font-size: 14px;">{{project.notes}}</span>
                    <span class="widget-49-meeting-time">
                        <div class="due-date" *ngIf="project.dueDate">
                            <i class="fa-regular fa-calendar-o fa-fw me-1"></i>
                            <span class="me-2">{{project.dueDate | date:'MMM d, y'}}</span> <span class="me-2"
                                *ngIf="project.dueTime">{{time()}}</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="col-md-12">
                <ul class="list list-inline" *ngFor="let task of project.tasks">
                    <app-task-item [task]="task"></app-task-item>
                </ul>
            </div>

            <div class="widget-49-meeting-action">
                <span dropdown container="body" [dropup]="true">
                    <a id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                        <i class="fa-solid fa-gear text-white" style="cursor: pointer;"></i>
                    </a>
                    <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right border"
                        role="menu" aria-labelledby="basic-link">
                        <li role="menuitem">
                            <a class="dropdown-item" (click)="openEditProjectModal()">
                                <i class="fa-solid fa-pen-to-square me-2 fa-fw"></i>Edit</a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openDeleteProjectModal()">
                                <i class="fa-solid fa-trash me-2 fa-fw"></i>Delete</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>