<div class="outer">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="panel border bg-white ">
                    <div class="panel-heading">
                        <h1 class="py-3 font-weight-bold">Reset Password</h1>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="errors">
                        <li class="ps-3" *ngFor="let error of errors">
                            <b>{{error}}</b>
                        </li>
                    </ul>
                    <div class="panel-body px-3 pb-3">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field" 
                                [class.error]="submitted && form.password.invalid"                               >
                                    <span class="fa fa-lock p-2 text-primary"></span>
                                    <input [class.is-invalid]="submitted && form.password.invalid" class="form-control"
                                        formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}} text-primary"></span>
                                </div>
                                <div *ngIf="submitted && form.password.errors" class="errorMessage">
                                    <div *ngIf="form.password.errors?.['required']"> <i class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i> Password is required</div>
                                    <div *ngIf="form.password.errors?.['pattern']"> <i class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i> Password should have at least 6 characters long,
                                        contain at least one digit, one lowercase letter, one uppercase letter, and one
                                        special character</div>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="submitted && form.confirmPassword.invalid">
                                    <span class="fa fa-key fa-fw me-1  text-primary"></span>
                                    <input [class.is-invalid]="submitted && form.confirmPassword.invalid"
                                        class="form-control" formControlName="confirmPassword" [type]="type"
                                        placeholder="Confirm password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}} text-primary"></span>
                                </div>
                                <div *ngIf="submitted && form.confirmPassword.errors" class="errorMessage">
                                    <div *ngIf="form.confirmPassword.errors?.['required']"> <i class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i> Confirmation is required</div>
                                    <div *ngIf="form.confirmPassword.errors?.['mustMatch']"> <i class="fa fa-exclamation-circle"
                                            aria-hidden="true"></i> Passwords must match</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Change password</button>                      
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>