.card {
    width: 90%;
    margin: auto;
}

.page {
    margin-top: 50px;
    margin-bottom: 50px;
}


.card-header {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    margin-top: 2%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.card-header h1 {
    font-size: 30px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body {
    margin: 2%
}