<!--For Page-->
<div class="page">
    <!--Card-->
    <div class="card bg-primary">
        <!--Card Header-->
        <div class="card-header bg-primary border-bottom align-items-center">
            <div class="col-6">
                
                <h1 class="text-white">Tags</h1>
            </div>
            
        </div>
        <!--Card Body-->
        <div class="card-body">
            <div class="col-md-12">
                <ul class="list list-inline"
                    *ngFor="let tag of this.tagService.userTags()">
                    <div>
                        <app-tag-item [tag]="tag"></app-tag-item>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>